* {
  box-sizing: border-box;
}
body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
  justify-content: center;
}
.box {
  width: 300px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #1975ff;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25px;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  border-color: #f33d98;
}
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #f33d98;
  padding: 14px 35px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25px;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background-color: #f33d98;
}
.box h1 {
  position: relative;
  color: #fff;
  font-size: 40px;
  text-shadow: 0 0 10px #f33d98;
}
